/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: black;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: black;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
}

/* The whole bar */
#waybar {
    background: rgba(0, 0, 0, 0.0);
    color: white;
    font-family: Dejavu Sans;
    font-size: 10px;
}

tooltip {
    background: rgba(43, 48, 59, 0.95);
    border: 1px solid rgba(100, 114, 125, 0.95);
    border-radius: 10px;
    min-height: 0px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

tooltip label {
    color: white;
}

/* Each module */
label.module,
#tray {
    background: rgba(50, 50, 50, 0.5);
    color: white;
    font-family: Dejavu Sans;
    font-size: 10px; 
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px;
    min-height: 0px;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
} 
#pulseaudio {
    background: rgba(50, 50, 50, 0.5);
    color: white;
    font-family: Dejavu Sans;
    font-size: 10px; 
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 12px;
    min-height: 0px;
    margin-top: -3px;
    margin-bottom: -4px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
#workspaces {
    background: rgba(50, 50, 50, 0.5);
    color: white;
    font-family: Dejavu Sans;
    font-size: 8px; 
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 16px;
    min-height: 0px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
#workspaces button.visible {
    background: rgba(50, 50, 50, 0.6);
    color: white;
    font-family: Dejavu Sans;
    font-size: 8px; 
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 100px;
    min-height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
#custom-weather {
    background: rgba(50, 50, 50, 0.5);
    color: white;
    font-family: Dejavu Sans;
    font-size: 10px; 
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 12px;
    min-height: 0px;
    margin-top: -4px;
    margin-bottom: -3px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
